#navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}
/* NAVBAR ANCHOR TAGS */
a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
/* LOGO SETTING */
.Logo-img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 50%;
}
/* NAVIGATION ICONS */
.Menu-icons{
    height: 30px;
    width: 30px;
}
.table-image{
    width: 100%;
    height: 100%;
}
video{
    width: 200px;
}
.social{
    width: 30px;
    height: 30px;
}